#Android generated
bin
gen
lint.xml

#Eclipse
.project
.classpath
.settings
.checkstyle
.properties

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

#Maven
target
release.properties
pom.xml.*

#Ant
build.xml
ant.properties
local.properties
custom_rules.xml

#Other
.DS_Store
tmp

#Gradle
build
.gradle
./gradle/wrapper/gradle-2.14.1-all.zip